<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Stack Overflow</h1>
    <hr>
    <% for(let post of posts){%>
    <div>
     
            <h2>@<%=post.name%></h2>
            <h3><%=post.content%></h3>
            <a id="btn1"href="http://localhost:5000/posts/<%= post.id %>">show post</a>
            &nbsp;&nbsp;
            <a id="btn2"href="http://localhost:5000/posts/<%=post.id%>/edit">Edit post</a>
            <br><br>
            <form method="post" action="/posts/<%=post.id%>?_method=Delete">
                <button id="btn">Delete Post</button>
            </form>
        </div>
        <%}%>
        <br>
        
        <a id="btn3"href="http://localhost:5000/posts/new">Create Post</a>
</body>
</html>